*{
    margin: 0;
    padding: 0;

}

/*Fonte do h1*/
@font-face {
    font-family: "Android";
    src: url(pacote-projeto-d010/fontes/idroid.otf) format(opentype);
}

body{
    background-color:#84E1AD;
}

header{
    margin: auto;
    margin-top: -15px;
    background-color: #00ad4b;
    box-shadow: 1px 5px 20px black;
}

section{
    background-color: white;
    text-align: center;
    padding: 40px 0;
    border-radius: 50px;
    margin-top: 15px;
    max-width: 1500px; 
    min-width: none;
    margin: auto;
    box-shadow: 3px 4px 30px black;
}


h1{
    font-family: "Android";
    color: white;
    text-align: center;
    margin-top: 15px;
    padding-bottom: 15px;
    font-size: 75px;
}

.instagram{
    display: block;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
}

.logos{
    display: block;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}