@charset "UTF-8";

/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@font-face {
    font-family: 'Machinery';
    src: url(pacote-projeto-d010/fontes/MachineryScript_PERSONAL_USE_ONLY.otf) format(opentype);
}

h1#cabecalhoPrincipal{
    font-family:"Orbitron", sans-serif;
    text-align: center;
    padding: 10px;
    font-size: 50px;
    color: white;
    
}

h2#tituloDescrição{
    font-family: 'Machinery';
    color: #074622;
    
}

a#Noticias{
    color: white;
    text-decoration: none;
    padding-right: 12px;
}

a#Historia{
    color: white;
    text-decoration: none;
    padding-right: 12px;
}

a#faleConosco{
    color: white;
    text-decoration: none;
    padding-right: 12px;
}

img#androidDescolado{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    padding-bottom: 30px;
}

img#minhaFoto{
    border-radius: 340px;
    margin-bottom: 350px;
    width: 350px;
    height: 350px;
}

p#Citação{
    font-family: "PT Serif Caption", serif;
    text-shadow: 1px 1px black;
    color: rgb(43, 107, 41);
    font-size: 27px;
}

p#descrição{
    font-family: "Nunito", sans-serif;
    color: #444d48;
}

div#linksPrincipais{
    font-family: "Staatliches", sans-serif;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
   
}


div#Cabecalho{
    background-image: linear-gradient(to top, black -82% ,#46f190 100% );
    margin: -8px;
    margin-top: -34px;
    box-shadow: 2px 3px 16px 1px black;
}

div#navegação{
    background-color: #46f190;
    font-family: "Orbitron", sans-serif;
    color: white;
    text-align: center;
    font-size: 37px;
    padding-bottom: 15px;
    border-radius: 24px;
}

div#descrição{
    padding-left: 65px;
    font-size: 25px;
    margin-bottom: 316px;
}

div.Corpo{
    margin-top: 8px;
    /* margin-left: 90px; */
    /* margin-right: 90px; */
    margin: 8px 180px 0;
    box-shadow:  2px 3px 16px 1px black;
    border-radius: 24px;
}

div.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}