*{
    margin: 0;
    padding: 0;

}

/*Fonte do h1*/
@font-face {
    font-family: "Android";
    src: url(pacote-projeto-d010/fontes/idroid.otf) format(opentype);
}

body{
    background-color:#84E1AD;
}

header{
    margin: auto;
    margin-top: -15px;
    background-color: #00ad4b;
    box-shadow: 1px 5px 20px black;
}

section{
    background-color: white;
    margin-left: 30rem;
    margin-right: 30rem;
    box-shadow: 3px 4px 30px black;
    border-radius: 32px;
    margin-top: 15px;
}

h1{
    font-family: "Android";
    color: white;
    text-align: center;
    margin-top: 15px;
    padding-bottom: 15px;
    font-size: 75px;
}

img{
    width: 75px;
    margin: 15px 0;
}

a{
    text-decoration: none;
    color: white;
}

.logos{
    display: block;
    text-align: center;
}