/*Fontes*/

/*Fonte do P*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/*Fonte das NAV*/
@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+JP+N&display=swap');

/*Fonte da h1*/
@font-face {
    font-family: "Android";
    src: url(pacote-projeto-d010/fontes/idroid.otf) format(opentype);
}

/*Fonte do h2*/
@font-face { 
    font-family: "Machinery" ;
    src: url(pacote-projeto-d010/fontes/MachineryScript_PERSONAL_USE_ONLY.otf) format(opentype); 
}


*{
    padding: 0;
    margin: 0;
}

main{
    padding-top: 10px;
    padding-bottom: 5px;
}

body{
    overflow: hidden;
    background-color:#84E1AD;
}

header{
    background-color: #00ad4b;
    box-shadow: 1px 5px 20px black;
}

nav{
    text-align: center;
}

footer{
    background-color: black;
    padding-top: 50px;
}

img#android{
    display: block;
    margin: 0 auto;
    width: 216px;
    height: auto;
    border-radius: 35%;
}

h1{
    font-family: "Android";
    color: white;
    text-align: center;
    font-size: 75px;
    padding-top: 25px;
}

h2{
    font-family: "Machinery";
    text-align: center;
    color: white;
    font-size: 55px;
    padding-top: 25px;
    margin-bottom: 20px;
}

p{
    color: white;
    padding-top: 25px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 26px;
    flex: 1;
    text-align: left;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    text-align: center;
}

textarea{
    width: 100%;
    max-width: 100%;
    min-height: 150px;
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    transition: 0.3s;
    background: #e8ffe8;
    font-size: 18px;
    resize: vertical;
    
}

textarea:focus{
    background: #fff;
    box-shadow: 0 0 0 2px #12bb3c;
}

label{
    font-family:"Roboto Condensed", sans-serif; 
    font-size: 23px;
    display: inline-block;
    margin-top: 50px;

}

img.androidSemOculos{
    height: auto;
    width: 200px;
}

img.androidSemOculos2{
    height: auto;
    width: 200px;
    float: left;
}

a.links{
    padding-left: 80px;
    margin-right: auto;
    margin-left: auto;
    font-size: 25px;
    font-family: "WDXL Lubrifont JP N", sans-serif;
}

div#Conteudo{
    background-color: rgb(20, 80, 15);
    margin-top: 15px;
    max-width: 1500px;
    min-width: none;
    margin: auto;
    box-shadow: 3px 4px 30px black;
}

div.logo{
   display: flex; 
   justify-content: center;
   align-items: center;
   gap: 10px;
   background-color: white;
   margin-top: -6px;
}

div.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    
}

.footer ul{
    padding: 0;
}

.quem-desenvolveu{
  background-color: #0f460f;
  color: white;
  text-align: center;
  padding: 30px 20px;
  border-radius: 50px;
  background-color: rgb(20, 80, 15);
  margin-top: 15px;
  max-width: 900px;
  width: 90%; 
  min-width: none;
  margin: 20px auto;
  box-shadow: 3px 4px 30px black;
}

.conteudo{
  display: flex;                  
  flex-wrap: wrap;
  align-items: center;            
  justify-content: center;        
  gap: 25px;                      
  max-width: 1000px;              
  margin: 0 auto;                 
  text-align: center;               
  flex-wrap: wrap;
}

.texto{
  flex: 1 1 300px;
  text-align: left;                        
  font-size: 18px;
  line-height: 1.5;
}

.foto img{
  width: 300px;             
  height: 300px;
  border-radius: 100%;             
  object-fit: cover;  
  border: 10px solid white;
}

@media (max-width: 768px) {

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
        padding: 0 10px;
        text-align: center;
    }

    /* Foto menor */
    .foto img {
        width: 200px;
        height: 200px;
    }

    /* Logos menores */
    .logo img {
        width: 35px;
        height: 35px;
    }

    /* Navegação desce para baixo */
    nav a {
        font-size: 20px;
        padding: 5px 0;
    }

    /* Footer empilhado */
    .footer {
        flex-direction: column;
        gap: 15px;
    }

    .androidSemOculos, 
    .androidSemOculos2 {
        width: 150px;
    }
}

/* Telas muito pequenas */
@media (max-width: 450px) {

    h1 {
        font-size: 32px;
    }

    textarea {
        min-height: 120px;
    }

    p {
        font-size: 18px;
    }

    .foto img {
        width: 160px;
        height: 160px;
    }
}